
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

p{
    font-family: monospace;
    font-size: 4.5rem;
    margin: 0% 0% 0% 0%;
}

* {
    box-sizing: border-box;
    padding: 2rem;
    
}

nav a{
    display: inline-block;
    margin: -1% 15% 0% 2%;
    padding: 0.8% 2%;
    text-decoration: none;
    border: -22px solid white;
    border-radius: 66px;
    color: white;
    font-size: 62px;
}

.nav-box {
    margin: 1% -22% 4% 5%;
}

.title-text {
    margin: 0% 0% 0% 0%;
}

.crimson {
    background: crimson;
}

.blue {
    background: blue;
}

.yellow {
    background: darkgoldenrod;
}

.smallText {
    text-align: center;
    margin: 0% 0% 0% 0%;
}

.image_1 {
    border-radius: 60%;
    width: 25%;
    margin: 1% -34% -15% -1%;
}

.image_2 {
    border-radius: 20%;
    width: 10%;
    display: inline-flex;
    border: 5px solid white;
    margin: 7% -14% 2% 50%;

}

.image_3 {
    border-radius: 20%;
    width: 10%;
    display: inline-flex;
    border: 5px solid white;
    margin: 5% 5% 3% 49%;
}

.bottom_image {
    width: 107%;
    display: inline-flex;
    border: 5px solid white;
    margin: -1% -80% -2% -4%;
}

h1 {
font-family: "Chelsea Market";
text-align: center;
margin: 0% 0% 13% 11%;
font-size: 9.5rem;
}

h2 {
text-align: center;
font-family: monospace;
text-size-adjust: 25%;
}


.first-section {
    background-color: lightsalmon;
    line-height: 6rem;
    padding: 10%;
}

.bottom-header {
    margin: 1% -22% 4% 5%;
}